<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>New Episode</title>
	</head>
	<body>
		<h1>Episode
			{{ episode.title }}</h1>
		<p>Episode
			{{ episode.number }}</p>
		<p>Episode
			{{ episode.synopsis }}</p>
	</body>
</html>
